.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Input {
  display: block;
  width: 60%;
}
form button {
  align-self: center;
  margin: 10px;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
