.App {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.Menu {
  width: 30%;
}
.Cart {
  width: 50%;
  padding: 0 0 0 50px;
}
.Item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Item h5 {
  flex-grow: 10;
}
.Item button {
  margin-left: 15px;
}